/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  .login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: repeat;
  }
  
  .login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(35, 34, 34, 0.17);
    backdrop-filter: blur(10px);
    color: white;
  }
  
  .login-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input-group {
    position: relative;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 16px;
  }
  
  .input-field::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .password-group .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  
  .password-group .password-toggle:hover {
    color: white;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  .remember-me input {
    margin-right: 5px;
  }
  
  .forgot-password {
    color: white;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    color: teal;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(175, 115, 55, 0.874);
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .register-link {
    text-align: center;
    font-size: 14px;
  }
  
  .register-link-highlight {
    color: teal;
    text-decoration: none;
  }
  
  .register-link-highlight:hover {
    text-decoration: underline;
  }
  