.container-reviews {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.card-review {
    --background: #fff;
    --cardShadow: rgba(32,33,37,.1);
    --cardShadowHover: rgba(32,33,37,.06);
    --cardShadowActive: rgba(32,33,37,.55);
    --cardBorder: #dbdce0;
    --cardBorderActive: #1a73e8;
    --textColor: #202125;
    --linkColor: #1967d2;
    --ratingColor: #faab00;
  }
  
  @media (prefers-color-scheme: dark) {
    .card-review {
      --background: #3c4043;
      --cardShadow: rgba(0,0,0,.28);
      --cardShadowHover: rgba(0,0,0,.16);
      --cardShadowActive: rgba(0,0,0,.55);
      --cardBorder: #202125;
      --cardBorderActive: #8ab4f8;
      --textColor: #e9eaee;
      --linkColor: #8ab4f8;
    }
  }
  
  .card-review {
    flex: 0 0 auto;
    width: 150px;
    height: auto;
    background: var(--background);
    color: var(--textColor);
    border: 1px solid var(--cardBorder);
    padding: 25px;
    box-shadow: 8px 8px 0 var(--cardShadow);
    transition: box-shadow .5s, transform .5s;
    border-radius: 8px;
    display: inline-block;
  }
  
  .card-review:hover {
    transform: translate(-2px, -4px);
    box-shadow: 16px 16px 0 var(--cardShadowHover);
  }
  
  .card-review:active {
    transform: translate(-2px, -4px);
    border: 2px solid var(--cardBorderActive);
    box-shadow: 4px 4px 0 var(--cardShadowActive);
  }
  
  .card-review > .icon-review,
  .card-review > .title-review,
  .card-review > .description-review {
    margin-bottom: 0.7em;
    cursor: default;
    user-select: none;
  }
  
  .card-review > .title-review {
    margin-top: 1.5em;
    font-weight: bold;
  }
  
  .card-review > .description-review {
    line-height: 1.5em;
    min-height: 6em;
  }
  
  .card-review > .icon-review {
    font-size: 3em;
    margin-bottom: .2em;
  }
  
  .card-review > .rating-review {
    font-size: 1.5em;
    margin-bottom: 0.8em;
    color: var(--ratingColor);
    font-weight: bold;
    position: relative;
    width: max-content;
  }
  
  .card-review > .rating-review:before {
    content: "☆☆☆☆☆";
  }
  
  .card-review > .rating-review:after {
    content: "★★★★★";
    position: absolute;
    left: 0;
    z-index: 0;
    width: calc(var(--rating) * 1%);
    overflow: hidden;
  }
  